<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h1>Editar Orçamento</h1>
            <form id="editOrcamentoForm" action="/atualizar_orcamento" method="post">

                <!-- Informações de Entrega -->
                <div class="form-group">
                    <label for="tipo">Tipo de Documento</label>
                    <input type="text" class="form-control" id="tipo" name="tipo" value="{{ orcamento.tipo }}" required>
                </div>

                <!-- Número do Orçamento -->
                <div class="form-group">
                    <label for="numero_orcamento">Número do Orçamento</label>
                    <input type="text" class="form-control" id="numero_orcamento" name="numero_orcamento" value="{{ orcamento.numero_orcamento }}" required>
                </div>

                <!-- Data do Orçamento -->
                <div class="form-group">
                    <label for="data_orcamento">Data do Orçamento</label>
                    <input type="date" class="form-control" id="data_orcamento" name="data_orcamento" value="{{ orcamento.data_orcamento }}" required>
                </div>

                <!-- Quantidade de Produtos -->
                <div class="form-group">
                    <label for="quantidade_produtos">Quantidade de Produtos</label>
                    <input type="number" class="form-control" id="quantidade_produtos" name="quantidade_produtos" value="{{ orcamento.quantidade_produtos }}" required>
                </div>

                <!-- Informações da Empresa -->
                <div class="form-group">
                    <label for="nome_empresa">Nome da Empresa</label>
                    <input type="text" class="form-control" id="nome_empresa" name="nome_empresa" value="{{ orcamento.nome_empresa }}" required>
                </div>

                <!-- Telefone, Email, Endereço -->
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" name="telefone" value="{{ orcamento.telefone }}" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ orcamento.email }}" required>
                </div>

                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" value="{{ orcamento.endereco }}" required>
                </div>

                <!-- Pagamento -->
                <label for="forma_pagamento">Forma de Pagamento:</label>
                <select id="forma_pagamento" name="forma_pagamento" onchange="atualizarFormaPagamento()">
                    <option value="À vista">À vista</option>
                    <option value="Parcelado">Parcelado</option>
                </select><br><br>

                <div id="produtosContainer"></div>
                <div id="detalhesPagamentoContainer"></div>

                <div class="form-group mt-3">
                    <input type="button" value="Gerar PDF" class="btn btn-info" id="gerarPdfBtn">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    <a href="/painel" class="btn btn-secondary mt-3">Voltar à Página Anterior</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const gerarPdfBtn = document.getElementById('gerarPdfBtn');
        gerarPdfBtn.addEventListener('click', function() {
            enviarDadosParaGerarPdf();
        });
    });

    function enviarDadosParaGerarPdf() {
        const formData = new FormData(document.getElementById('editOrcamentoForm'));
        fetch('/gerar_orcamento', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if(response.ok) {
                return response.blob();
            } else {
                throw new Error('Problema ao gerar PDF');
            }
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            window.open(url, '_blank');
        })
        .catch(error => console.error('Erro ao gerar PDF:', error));
    }

    function atualizarQuantidadeProdutos() {
        const quantidadeAtual = document.querySelectorAll('#produtosContainer fieldset').length;
        const novaQuantidade = parseInt(document.getElementById('quantidade_produtos').value);

        if (novaQuantidade > quantidadeAtual) {
            for (let i = quantidadeAtual; i < novaQuantidade; i++) {
                adicionarCampoProduto(i);
            }
        } else if (novaQuantidade < quantidadeAtual) {
            for (let i = quantidadeAtual - 1; i >= novaQuantidade; i--) {
                const produtoParaRemover = document.getElementById(`produto_${i}`);
                if (produtoParaRemover) produtoParaRemover.remove();
            }
        }
    }

    document.getElementById('quantidade_produtos').addEventListener('change', atualizarQuantidadeProdutos);

    function atualizarFormaPagamento() {
        const formaPagamento = document.getElementById('forma_pagamento').value;
        const detalhesPagamentoDiv = document.getElementById('detalhesPagamentoContainer');

        if (formaPagamento === 'Parcelado') {
            detalhesPagamentoDiv.innerHTML = `
                <label for="num_parcelas">Número de Parcelas:</label>
                <input type="number" id="num_parcelas" name="num_parcelas" min="1" value="{{ orcamento.num_parcelas }}" ><br><br>

                <label for="entrada">Entrada:</label>
                <input type="number" id="entrada" name="entrada" step="0.01"  value="{{ orcamento.entrada }}" ><br><br>
            `;
        } else {
            detalhesPagamentoDiv.innerHTML = '';
        }
    }
</script>
</body>
</html>
