<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Orçamento</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="main-container">
        <h2>Formulário de Orçamento</h2>
        <form id="orcamentoForm" action="/gerar_orcamento" method="post" enctype="multipart/form-data">
            <!-- Informações básicas do orçamento -->
            <div>
                <label for="tipo">Tipo de Documento: </label>
                <select id="tipo" name="tipo" required>
                    <option value="Orçamento">Orçamento</option>
                    <option value="Pedido">Pedido</option>
                </select>

                <label for="numero_orcamento">Número do Orçamento:</label>
                <input type="text" id="numero_orcamento" name="numero_orcamento" required>

                <label for="data_orcamento">Data do Orçamento:</label>
                <input type="date" id="data_orcamento" name="data_orcamento" required>

                <label for="quantidade_produtos">Quantidade de Produtos:</label>
                <input type="number" id="quantidade_produtos" name="quantidade_produtos" min="1" onchange="gerarCamposProdutos()">
            </div>

            <div id="produtos"></div>

            <!-- Informações da Empresa -->
            <div>
                <label for="nome_empresa">Nome da Empresa:</label>
                <input type="text" id="nome_empresa" name="nome_empresa">

                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" name="cnpj">

                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email">

                <label for="endereco">Endereço: </label>
                <textarea id="endereco" name="endereco"></textarea>
            </div>

            <!-- Informações Adicionais -->
            <div>
                <label for="informacoesadicionais">Informações Adicionais:</label>
                <textarea id="informacoesadicionais" name="informacoesadicionais"></textarea>
            </div>

            <!-- Informações de Entrega -->
            <div>
                <label for="frete">Tipo de Frete: CIF ou FOB.</label>
                <input type="text" id="frete" name="frete">

                <label for="prazo_entrega">Prazo de Entrega (em dias úteis):</label>
                <input type="text" id="prazo_entrega" name="prazo_entrega">
            </div>

            <!-- Informações de Pagamento -->
            <div>
                <label for="forma_pagamento">Forma de Pagamento:</label>
                <select id="forma_pagamento" name="forma_pagamento" onchange="atualizarFormaPagamento()">
                    <option value="À vista">À vista</option>
                    <option value="Parcelado">Parcelado</option>
                </select>
                <div id="detalhes_pagamento"></div>
            </div>

            <p>Antes de Gerar o PDF, lembre-se de salvar o orçamento para não perder as informações.</p>
            <input type="submit" value="Gerar PDF" class="button">
            <button type="button" onclick="salvarOrcamento()" class="button">Salvar</button>
            <button onclick="location.href='/painel'">Voltar à Página Anterior</button>
        </form>
    </div>

    <script src="static/gerarOrcamento.js"></script>
</body>
</html>
