<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Usuário</title>
    
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- CSS Externo -->
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Criar Novo Usuário</h1>

    <form id="criarUsuarioForm">
        <label for="nome">Username:</label>
        <input type="text" name="nome" id="nome" required>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Criar Usuário</button>
    </form>

    <script src="static/criarUsuario.js"></script>
</body>

</html>
